#vim /usr/share/applications/sshproxy.desktop
#chmod +x /usr/share/applications/sshproxy.desktop
#打开开始菜单，看到sshproxy,右键 "发送到桌面快捷方式" "固定到任务栏"
[Desktop Entry]
Encoding=UTF-8
Name=sshproxy
Type=Application
#Icons: /usr/share/icons/
Icon=emblem-web
Categories=Application;
StartupNotify=true
Terminal=true
Exec=/bin/bash /home/tom/.bin/sshproxy
